/*
  * Tags
*/
.tag {
  background-color: #ddd;
  font-size: .9rem;
  transition: .2s ease transform
}

.tag:hover {
  filter: brightness(.9)
}

.tag:active {
  transform: scale(.95)
}

/*
  * Badge
*/
.badge {
  border: 1px solid #ddd;
  padding: 0rem .75rem;
  border-radius: 1rem;
  
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.badge--active {
  background-color: #21c2e1;
  color: #fff;
  border-color: #21c2e1;
}

/*
  * Content Editable - Pseudo Inputs
*/
[contenteditable] {
  min-width: 4rem;
  max-width: 7rem;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #ddd;
  padding: .25rem .75rem;
  border-radius: 1rem;
  font-size: .9rem;

  &:focus {
    outline: none
  }
  &:focus-visible {
    border-color: #999;
    outline: none
  }
  &:empty:before {
    color: #999;
    content: attr(data-placeholder)
  }
}

/* 
  * Drawer
*/
.drawer {
  width: 0px;
  box-shadow: .5rem .75rem 1rem #88888875;
  transition: .2s ease width;
  z-index: 100
}

.drawer--active {
  width: 40vw;
  padding: .5rem
}

.drawer__image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  img {
    height: 100%;
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .drawer--active {
    width: 100vw
  }
}

/*
  * SVG
*/
.svg-small svg {
  width: 1rem;
  height: 1rem
}
