html, body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik';
  height: 100%
}

body {
  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  font-weight: normal;
}

/*
  * HEADER
*/
header {
  padding: .75rem 1rem;
  border: 1px solid #ddd
}

/*
  * MAIN & MAP
*/
#map, main {
  margin: 0;
  height: 100%
}

main {
  display: grid;
  grid-template-columns: auto 1fr;
}
