html, body {
  margin: 0;
  padding: 0;
  font-family: 'Lexend';
  height: 100%
}

body {
  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  font-weight: normal;
}

/*
  * HEADER
*/
header {
  padding: .75rem 1rem
}

/*
  * MAIN & MAP
*/
#map, main {
  margin: 0;
  height: 100%
}